<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        .play_list_plog {
            display: flex;
        }
    </style>
</head>
<body>
<template id="app">
    <div>
        <div id="alertmsg"
             style="position: fixed;top: 30px;left: 20%;right: 10%;padding: 20px 30px;background: rgba(0,0,0, .6);color: #fff;font-size: 14px;text-align: center;z-index: 999;display: none">
        </div>

        <div id="wait" v-if="showDiv == 'wait'">
            <p>加载中。。。</p>
        </div>
        <div id="login" v-else-if="showDiv == 'login'">
            <form>
                <p>用户名:<input id="username" type="text">
                <p>密码：<input id="password" type="password">
                <p>
                    <button type="submit" id="loginButton" v-on:click='loginButton()'>登录</button>
            </form>
        </div>
        <div v-else-if="showDiv == 'index'">
            <form>
                <div>
                    <p>你好： ${user.name}
                        <button id="logoutButton" style="margin-left: 60px" v-on:click='logoutButton()'>退出</button>
                    </p>
                    <button id="createButton" v-on:click='createButton()'>创建房间</button>
                </div>
                <div>
                    <p><input id="joinInput" type="number" placeholder="请输入房间号">
                        <button id="joinButton" v-on:click='joinButton($("#joinInput").val())'>加入房间</button>
                    </p>
                </div>
                <div v-if="user.is_admin">
                    <p><input id="closeInput" type="number" placeholder="请输入房间号">
                        <button id="closeButton" v-on:click='closeButton()'>关闭房间</button>
                    </p>
                </div>
            </form>
        </div>

        <div v-else-if="showDiv == 'hub'">
            <div class="w3c_session">
                <div>房间号：${hub.id}
                    <button id="outhubButton" style="margin-left: 30px" v-if="!w3c.is_start" v-on:click='outhubButton()'>
                        退出房间
                    </button>
                </div>
                <div v-if="!w3c.is_start">房间玩家：
                    <span id="hubPlayerList" v-for="player in hub.players" :key="player.id">【${player.name}】 </span>
                </div>
                <div v-if="w3c.is_start">玩家积分：
                    <span v-for="player in hub.players"
                          :key="player.id">【${player.name}】${w3c.score_map[player.id]} </span>
                </div>

                <p>
                    <button id="startButton" v-if="!w3c.is_start&user.id==hub.owner" v-on:click='startButton()'>开始游戏
                    </button>
                </p>

            </div>
            <div class="play_session" v-if="w3c.is_start">
                <div id="rs_head">
                    <div>第【${w3c.round}/${w3c.list_seq.length*3}】回合</div>
                    <div>
                        <button id="readyButton" v-on:click='readyButton()' v-if="!w3c.ready_info[user.id]">准备
                        </button>
                        <div/>
                        <span v-if="w3c.is_playing">当前操作玩家:【${hub.players[round_session.current_player].name}】</span>
                        <span v-if="w3c.is_playing">当前注码:【${round_session.max_bet}】</span>
                        <p></p>
                    </div>
                    <div class="play_list_plog">
                        <div style="border-style:solid;">
                            <div style="margin:10px 10px">
                                <span>玩家列表: </span>
                                <div id="rs_player_list" v-for="id in w3c.list_seq" :key="id">
                                    <p>${list_play_info(id)}</p>
                                </div>
                            </div>
                        </div>
                        <div style="border-style:solid;border-left-style:none;">
                            <div style="margin:10px 10px">
                                <span>操作记录: </span>
                                <p v-for="log in round_session.plog">${log}</p>
                            </div>
                        </div>
                    </div>
                    <div id="rs_operation" v-if="w3c.is_playing">
                        <p v-if='w3c.is_playing&round_session.current_player==user.id&!round_session.pinfo[user.id].is_out'>
                            <input id="inInput" type="number" placeholder="请输入注码">
                            <button id="inButton" v-on:click='inButton()'>跟注
                            </button>
                        </p>
                        <p v-if='w3c.is_playing&round_session.current_player==user.id&!round_session.pinfo[user.id].is_out'>
                            <button id="viewButton" v-if="!round_session.pinfo[user.id].is_viewed"
                                    v-on:click='viewButton()'>看牌
                            </button>
                            <span v-if="round_session.pinfo[user.id].is_viewed">你的手牌是：
                                <span v-for="card in user.hand_card.cards">[${cardName[card]}] </span></span>
                        </p>
                        <p v-if='w3c.is_playing&round_session.current_player==user.id&!round_session.pinfo[user.id].is_out'>
                            <select id="showInput">
                                <option id="showSelectOption" v-for="id in currentPlayerList" :value="id">
                                    ${hub.players[id].name}
                                </option>
                            </select>
                            <button id="showButton" v-on:click='showButton()'>开牌
                            </button>
                        </p>
                        <p v-if='w3c.is_playing&round_session.current_player==user.id&!round_session.pinfo[user.id].is_out'>
                            <button v-on:click='outButton()'>弃牌
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
</body>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<!--<script src="https://{{.addr}}/static/app.js"></script>-->
<script>
    const cardName = {
        2: '黑桃2',
        3: '黑桃3',
        4: '黑桃4',
        5: '黑桃5',
        6: '黑桃6',
        7: '黑桃7',
        8: '黑桃8',
        9: '黑桃9',
        10: '黑桃10',
        11: '黑桃J',
        12: '黑桃Q',
        13: '黑桃K',
        14: '黑桃A',

        102: '红桃2',
        103: '红桃3',
        104: '红桃4',
        105: '红桃5',
        106: '红桃6',
        107: '红桃7',
        108: '红桃8',
        109: '红桃9',
        110: '红桃10',
        111: '红桃J',
        112: '红桃Q',
        113: '红桃K',
        114: '红桃A',

        202: '梅花2',
        203: '梅花3',
        204: '梅花4',
        205: '梅花5',
        206: '梅花6',
        207: '梅花7',
        208: '梅花8',
        209: '梅花9',
        210: '梅花10',
        211: '梅花J',
        212: '梅花Q',
        213: '梅花K',
        214: '梅花A',

        302: '方片2',
        303: '方片3',
        304: '方片4',
        305: '方片5',
        306: '方片6',
        307: '方片7',
        308: '方片8',
        309: '方片9',
        310: '方片10',
        311: '方片J',
        312: '方片Q',
        313: '方片K',
        314: '方片A',
    }
    var token = localStorage.getItem('token');
    var app = new Vue({
        el: "#app",
        delimiters: ['${', '}'],
        data() {
            return {
                wsGloble: {},
                showDiv: 'login',
                user: {
                    id: 0,
                    name: '',
                    hand_card: {
                        cards: [],
                    },
                },
                hub: {
                    id: 0,
                    owner: 0,
                    players: {},

                    // showDiv: 'wait',
                },
                w3c: {
                    round: 0,
                    ready_info: {},
                    score_map: {},
                    is_playing: false,
                    is_start: false,
                    list_seq: [],
                },
                round_session: {
                    pinfo: {},
                    plog: [],
                    max_bet: 0,
                    current_player: 0,
                    play_seq: [],
                }
            }
        },
        computed: {
            currentPlayerList: () => {
                if (!!!app.w3c.list_seq) {
                    return
                }
                let list = []
                for (const i in app.w3c.list_seq) {
                    let id = app.w3c.list_seq[i]
                    let info = app.round_session.pinfo[id]
                    if (!!info && !info.is_out && id !== app.user.id) {
                        list.push(id)
                    }
                }
                console.log('list:',list)
                return list
            }
        },
        beforeCreate: () => {
            if (token !== null) {
                $.ajax({
                    url: 'http://{{.addr}}/login',
                    type: 'POST',
                    headers: {'Authorization': token},
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    async: true,
                    success: function (res) {
                        if (res.code !== 0) {
                            alert(res.msg)
                            app.showDiv = 'login'
                            return
                        }
                        app.user.id = res.data.id
                        app.user.name = res.data.username
                        app.user.is_admin = res.data.is_admin
                        app.hub.id = res.data.hub_id
                        if (app.hub.id !== 0) {
                            joinButton(app.hub.id)
                            // app.showDiv = 'hub'
                        } else {
                            app.showDiv = 'index'
                        }
                    }
                });
            }
        }
    });

    list_play_info = (id) => {
        if (Object.keys(app.hub.players).length <= 0) {
            return ''
        }
        let name = '【' + app.hub.players[id].name + '】:'
        if (!app.w3c.is_playing) {
            name += app.w3c.ready_info[id] ? '(已准备)' : ''
        }
        if (app.round_session.pinfo != null && app.w3c.is_playing) {
            name += '本轮投出[' + app.round_session.pinfo[id].score + ']'
            name += app.round_session.pinfo[id].is_viewed ? '(已看牌)' : ''
            name += app.round_session.pinfo[id].is_out ? '(已出局)' : ''
        }
        return name
    }

    // 登录
    loginButton = (event) => {
        let username = $("#username").val();
        let password = $("#password").val();
        let data = {username: username, password: password}
        $.ajax({
            url: 'http://{{.addr}}/login',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (res) {
                if (res.code !== 0) {
                    alert(res.msg)
                    return
                }

                app.user.id = res.data.id
                app.user.name = res.data.username
                app.user.is_admin = res.data.is_admin
                app.hub.id = res.data.hub_id

                token = res.data.token
                localStorage.setItem('token', res.data.token);
                app.showDiv = 'index'
            }
        });
    }
    // 退出
    logoutButton = (event) => {
        localStorage.removeItem('token')
        app.user = {}
        app.showDiv = 'login'
    }
    // 创建房间
    createButton = (event) => {
        $.ajax({
            url: 'http://{{.addr}}/hub/create',
            type: 'POST',
            headers: {'Authorization': token},
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (res) {
                if (res.code !== 0) {
                    alert(res.msg)
                    return
                }

                app.hub.id = res.data.id
                joinButton(res.data.id)
                app.showDiv = 'wait'
            }
        });
    }
    // 加入房间
    joinButton = (id) => {
        wsurl = "ws://{{.addr}}/hub/join?hubid=" + id
        ws = new WebSocket(wsurl, [token]);
        //接收到消息时触发
        ws.onmessage = function (evt) {
            console.log("Received Message: " + evt.data);
            handleMsg(evt.data)
        };
        //连接关闭时触发
        ws.onclose = function (evt) {
            if(evt.reason !== ''){
                alert(evt.reason)
            }
            let user
            user = app.user
            Object.assign(app.$data,app.$options.data())
            app.user = user
            app.showDiv = 'index'
        };

        app.wsGloble = ws
    }
    // 退出房间
    outhubButton = (event) => {
        $.ajax({
            url: 'http://{{.addr}}/hub/out',
            type: 'POST',
            headers: {'Authorization': token},
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (res) {
                if (res.code !== 0) {
                    alert(res.msg)
                    return
                }

                app.hub.id = 0
                app.hub.players = {}
                app.hub.owner = 0
                app.showDiv = 'index'
                let ws = localStorage.getItem('ws')
                if (ws !== null) {
                    localStorage.removeItem('ws')
                    app.wsGloble = {}
                }
            }
        });
    }

    // 开始游戏
    startButton = (event) => {
        if (app.user.id !== app.hub.owner) {
            alert("只有房主才能开始游戏！")
        }
        if (Object.keys(app.hub.players).length <= 1) {
            alert("人数不够无法开始游戏")
            return
        }
        let data = {id: app.hub.id}
        $.ajax({
            url: 'http://{{.addr}}/hub/start',
            type: 'POST',
            headers: {'Authorization': token},
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (res) {
                if (res.code !== 0) {
                    alert(res.msg)
                }
            }
        });
    }

    // 准备
    readyButton = () => {
        if (app.wsGloble === undefined) {
            alert("连接错误！")
            return
        }

        var msg = JSON.stringify({action_type: 'W3C_ACTION_READY'})
        app.wsGloble.send(msg)
    }
    // 看牌
    viewButton = () => {
        if (app.wsGloble === undefined) {
            alert("连接错误！")
            return
        }

        var msg = JSON.stringify({action_type: 'ACTION_VIEW'})
        app.wsGloble.send(msg)
    }
    // 跟注
    inButton = () => {
        if (app.wsGloble === undefined) {
            alert("连接错误！")
            return
        }
        let inbet = $("#inInput").val();
        let base = 2;
        if (app.round_session.pinfo[app.user.id].is_viewed) {
            base = 1
        }
        if (inbet * base < app.round_session.max_bet) {
            alert("必须要大于当前注码")
            return
        }

        var msg = JSON.stringify({action_type: 'ACTION_IN', bet: parseInt(inbet, 10)})
        app.wsGloble.send(msg)
    }
    //开牌
    showButton = () => {
        if (app.wsGloble === undefined) {
            alert("连接错误！")
            return
        }
        let showId = $("#showSelectOption").val();
        let base = 2;
        if (app.round_session.pinfo[app.user.id].is_viewed) {
            base = 1
        }
        let max_bet = Math.ceil(app.round_session.max_bet/base);

        var msg = JSON.stringify({action_type: 'ACTION_SHOW', show_id: parseInt(showId, 10), bet: max_bet})
        app.wsGloble.send(msg)
    }
    // 跟注
    outButton = () => {
        if (app.wsGloble === undefined) {
            alert("连接错误！")
            return
        }
        var msg = JSON.stringify({action_type: 'ACTION_OUT'})
        app.wsGloble.send(msg)
    }
    handleMsg = (msg) => {
        let msgData = JSON.parse(msg);
        let data = msgData.data
        switch (msgData.type) {
            case "HUB_SESSION":
                app.hub.owner = data.owner;
                app.hub.players = data.players;
                alertMsg(msgData.msg)
                app.showDiv = 'hub'
                break
            case "W3C_SESSION":
                app.w3c.round = data.round;
                app.w3c.ready_info = data.ready_info;
                app.w3c.score_map = data.score_map;
                app.w3c.list_seq = data.seq;

                app.w3c.is_start = true
                let i2 = 0
                for (const info in data.ready_info) {
                    i2++
                    if (!data.ready_info[info]) {
                        app.w3c.is_playing = false
                        break
                    }
                    if (i2 === Object.keys(data.ready_info).length) {
                        app.w3c.is_playing = true
                    }
                }
                break
            case "ROUND_SESSION":
                app.round_session.pinfo = data.pinfo;
                app.round_session.plog = data.plog;
                app.round_session.max_bet = data.max_bet;
                app.round_session.current_player = data.current_player;
                app.round_session.play_seq = data.seq;
                break
            case "RELINK_SESSION":
                app.w3c.round = msgData.w3c_data.round;
                app.w3c.ready_info = msgData.w3c_data.ready_info;
                app.w3c.score_map = msgData.w3c_data.score_map;
                app.w3c.list_seq = msgData.w3c_data.seq;

                app.round_session.pinfo = msgData.rs_data.pinfo;
                app.round_session.plog = msgData.rs_data.plog;
                app.round_session.max_bet = msgData.rs_data.max_bet;
                app.round_session.current_player = msgData.rs_data.current_player;
                app.round_session.play_seq = msgData.rs_data.seq;

                app.user.hand_card = msgData.hand_card

                app.w3c.is_start = true

                let i = 0
                for (const info in msgData.w3c_data.ready_info) {
                    i++
                    if (!msgData.w3c_data.ready_info[info]) {
                        app.w3c.is_playing = false
                        break
                    }
                    if (i === Object.keys(msgData.w3c_data.ready_info).length) {
                        app.w3c.is_playing = true
                    }
                }
                break
            case "INFO":
                alertMsg(msgData.msg)
                break
            case "ACTION_VIEW":
                app.user.hand_card = data.hand_card
                break
            case "VIEW_LOG":
                let view_log_msg = '本局结束！Winner【' + app.hub.players[data.winner].name + '】\n'
                view_log_msg += '可查看的玩家底牌：\n'
                for (let id in data.hand_cards) {
                    if (id === data.winner) {
                        continue
                    }
                    let cards = data.hand_cards[id].cards
                    view_log_msg += '【' + app.hub.players[id].name + '】:' + cardName[cards[0]] + ',' + cardName[cards[1]] + ',' + cardName[cards[2]]
                    view_log_msg += '\n'
                }
                confirm(view_log_msg)
                break
            case "W3C_RESULT":
                let w3c_msg = '游戏结束！\n'
                for (let id in data.score_map) {
                    w3c_msg += app.hub.players[id].name + ": " +data.score_map[id] + "\n"
                }
                confirm(w3c_msg)
                app.wsGloble.close()
                let user = {}
                user = app.user
                Object.assign(app.$data,app.$options.data())
                app.user = user
                app.showDiv = 'index'
                break
        }
        console.log(app)
    }

    alertMsg = (msg) => {
        let am = $('#alertmsg')
        am.html(msg);
        am.show();
        setTimeout(() => {
            am.html('');
            am.hide();
        }, 2000)
    }
</script>
</html>